<div class="class-form">
    <h3>Search users</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Facere voluptatibus cum aliquid quidem sapiente, nobis laudantium! Fuga est, dolore soluta nam architecto commodi consequuntur voluptatum, voluptates atque maxime voluptas qui quas? Facere, quam recusandae. Animi magni voluptate quis placeat! Sapiente ex, commodi aut iste enim minima neque consequatur totam explicabo cum deserunt excepturi modi fuga quasi ducimus facilis rem alias. Doloribus neque nostrum excepturi, cum consectetur voluptate.</p>
</div>
<div class="container">
    <div class="search-input">
        <span>Name</span>
        <input type="text" name="name" [(ngModel)]="props.name" />
    </div>
    <div class="search-input">
        <span>Gender</span>
        <input type="text" name="gender" [(ngModel)]="props.gender" />
    </div>
    <div class="search-input">
        <span>Email</span>
        <input type="text" name="email" [(ngModel)]="props.email" />
    </div>
    <button (click)="submit()">Search</button>
</div>
<div>
    <div *ngFor="let userInfo of users">
        <div>Name: {{userInfo.name}}</div>
        <div>Gender: {{userInfo.gender}}</div>
        <div>Email: {{userInfo.email}}</div>
    </div>
</div>
<hr>
<hr>