<h2>
    Review:
  </h2>
  <h6> 
    Review user Id: 
  </h6>
  <div>
    <input [ngModel]="reviewInfo.userId"/>
    {{reviewInfo.userId}}
  </div>
  <h6>
    Review description: 
  </h6>
  <div>
    <input [ngModel]="reviewInfo.description"/>
    {{reviewInfo.description}}
  </div>
  <h6>
    Review title: 
  </h6>
  <div>
    <input [ngModel]="reviewInfo.title"/>
    {{reviewInfo.title}}
  </div>
  <h6>
    Review ratingId Id: 
  </h6>
  <div>
    <input [ngModel]="reviewInfo.ratingId"/>
    {{reviewInfo.ratingId}}
  </div>
  <h6>
    Review trip Id: 
  </h6>
  <div>
    <input [ngModel]="reviewInfo.tripId"/>
    {{reviewInfo.tripId}}
  </div>
  <a [routerLink]="['/']">
    <button> Submit </button>
  </a>