<div class="user-data">
  User profile
</div>
<user-info></user-info>
<div>
  <h3>Information about user</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi magni voluptate quis placeat! Sapiente ex, commodi aut iste enim minima neque consequatur totam explicabo cum deserunt excepturi modi fuga quasi ducimus facilis rem alias. Doloribus neque nostrum excepturi, cum consectetur voluptate.</p>
  <input type="text" name="userId" [(ngModel)]="userId" placeholder="userId"/>
  <div>
    <button (click)="submit()"> Submit</button>
  </div>
</div>
<form class="container">
  <div class="field">
  User ID:
  {{userInfo.userId}}
  </div>
  <div class="field">
  User Name:
  {{userInfo.userName}}
  </div>
  <div class="field">
  Email:
  {{userInfo.email}}
  </div>
</form>


