<div class="default-trip">
    <h1>Default Trip</h1>
</div>
<div class="default-trip-info">

    <div class="default-trip-info-block">
        <p>Id: {{defaultTrip.Id}}</p>
        <h2 class="default-trip-info-element default-trip-info-element--title">Title: {{defaultTrip.title}}</h2>
    </div>


    <div class="default-trip-info-block">
        <h2 class="default-trip-info-element">Description: {{defaultTrip.description}}</h2>
        <p class="default-trip-info-element-description-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dignissimos ad architecto. Fugiat voluptates aliquid asperiores enim numquam sed, error blanditiis aut ab facere ea libero repellat optio eligendi vero ipsam ipsa vitae eos natus vel magnam unde consectetur! Aut a aliquam tenetur animi esse, maiores dolores illum facilis consequuntur?</p>
    </div>

    <div class="default-trip-info-block">
        <p class="default-trip-info-element">List of Entertainments:<p>
        <p class="default-trip-info-element">Tag: {{defaultTrip.tagString}}</p>
        <p class="default-trip-info-element">Price: {{defaultTrip.price}}</p>
        <p class="default-trip-info-element">Average Rating: {{defaultTrip.averageRating}}</p>
        <p class="default-trip-info-element">Optimal Spent: {{defaultTrip.optimalSpent}}</p>
    </div>

    <div class="default-trip-info-block image-area">
        <p>Area for images</p>
    </div>
</div>