.item {

    display: block;
    padding: 15px;
    margin-top: 1em;
    background: #ffffff;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0.3em 10px 5px #e6e6e6;

}
.content:hover
{
    box-shadow: 0 0 10px 5px #2bfd24;
}
ul li {
    list-style: none;
    position: relative;
    padding: 3px 0 2px 0px;
 
}
a {
    text-decoration: none;
    color: cadetblue;
}
.title{
    
}